body {
    background-color: #F2EDD7FF;
}


textarea {
    margin-top: 60px;
    background-color: #F2EDD7FF;
    border: none; 
    outline: none;
    width: 48%;
    height: auto;
    resize: none;
    padding: 0;
    font-size: 18px;
    font-family: monospace;
    letter-spacing: 2px;
    line-height: 1.5;
    color: #755139FF;
}