input {
  text-align: center;
}

.hide {
  display: none;
}

#set-time {
  padding-top: 100px;
  text-align: center;
}

.timer-input {
  padding: 5px;
  border: 2px solid #ccc;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

p {
  text-align: center;
  padding-top: 88px;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
}
