.reminders-container {
    width: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}

#list-items {
    margin-left: 15px;
}

hr {
    width: 100%;
  }